body {
    display: block;
    margin: 10px;
    background:#BEC5CD;
}
:root {
--text-center: text-align:center;
}
h1 {
  font-size: 2em;
}
.croissant {
    display: block;
    max-width: 100%;
    margin: 30px auto;
}
.links a {
    font-size: 13px;
    color: rgb(22, 22, 70);
}
p{
  font-size: 13px;
}